.NewProject {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: flex-start;
	background-color: #ecf0f1;
	padding: 0 25%;
	background-image: url(https://res.cloudinary.com/rezdelamasa/image/upload/v1568779719/riser-sizer-bg.svg);
	background-size: cover;
	background-position: 60% 100%;
}

.NewProject form {
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  height: unset;
  margin-top: 20vh;
  align-items: flex-start;
  background-color: white;
  padding: 100px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,.5);
}

.NewProject h1 {
	margin-bottom: 50px;
	font-weight: bold;
	color: #444;
}

.NewProject .form-control {
  border: none;
  box-shadow: none;
  background-color: #eee;
  border-bottom: 2px solid #c8d6e5;
  box-sizing: border-box;
  margin: 0;
}

.NewProject .form-control:focus {
  background-color: #DEE8FE;
}

.NewProject form text {
  height: 300px;
  font-size: 24px;
}

.NewProject__buttons {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 0;
}

.NewProject__cancel {
	font-size: 1.4rem;
}